* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
#disScreen {
    background: blue;
    overflow: hidden;
    position:absolute;
}

#rune {
    transition: .5s ease-in-out;
    position:absolute;
    z-index:1;
}
#slime {
    position:absolute;
    z-index:1;    
}
.mapTileWall {
    background: url("https://i.imgur.com/A0HZXBr.png");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    width:30px;
    height:30px;
    position:absolute;
    z-index:1;
}